<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#home">OldSchool</a>

    <!-- Links -->
    <ul class="nav nav-pills">

      <li class="nav-item">
        <a class="nav-link" href="#myphotopage">My Photos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#myvideopage">My Videos</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Upload
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Photos</a>
          <a class="dropdown-item" href="#">Videos</a>
        </div>
      </li>
      <ul class="navbar-brand ml-auto" style="flex: 5%">
        <a style="color:whitesmoke" class="btn btn-success" href="/login">Login</a>
        <a style="color:whitesmoke" class="btn btn-dark btn-space" routerLink="/register">Register</a>
      </ul>
    </ul>
  </nav>
</div>