<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#home" *ngIf="!isUserLoggedIn">OldSchool</a>

    <!-- Links -->
    <ul class="nav nav-pills" *ngIf="isUserLoggedIn">

      <li class="nav-item">
        <a class="nav-link" routerLink="/photos">Photos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/stories">School Stories</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Upload
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Photos</a>
          <a class="dropdown-item" href="#">Videos</a>
        </div>
      </li>
      
    </ul>
    <ul class="navbar-brand ml-auto float-left" style="flex: 5%" *ngIf="!isUserLoggedIn">
      <a style="color:whitesmoke" class="btn btn-success" (click)="hideLoginIfUserIsvalid()" routerLink="/login">Login</a>
      <a style="color:whitesmoke" class="btn btn-dark btn-space" routerLink="/register">Register</a>
    </ul>
  </nav>
</div>